* {
	box-sizing: border-box;
}

html, body {
	margin: 0;

}

header, footer {
	color: white;
	background-color: #008B8B; 
	font-family: 'Arimo', sans-serif;
}

.centered {
width: 50%; 
margin: auto; 


}

header .subtitle {

}

h1 {


}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {

}

section {
width: 50%;
margin:auto;
font-family: 'Arimo', sans-serif;

}

h2 { 
	color: #008B8B;
	font-size: 24px
	
}

h3 {
	color: #008B8B;
	


}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}