<!DOCTYPE html>
<html>
 <head>
 <meta charset="utf-8">
	<title>Exercice de style</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<div class="centered">
article p {
            color: white;
			<p class="subtitle">Journaliste</p>
			<h1>Aurore Gayte</h1>
			}

			
  



* {color: #008B8B;
	box-sizing: border-box; width: 100%; 
}

html, body {
	margin: 0;
}

header, footer {

}

.centered {

}

header .subtitle {

}

h1 {

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {

}

section {

}

h2 {

}

h3 {

}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}


</html>